<!DOCTYPE html>
<html lang="en">
<head>


  <title>Your Gallery!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
  .container{
  margin-top:20px;
}
.upload-file{
  height: 100px;
  width: 300px;
  margin: -20px -50px;
  top:50%;
  left: 46%;
  position: relative;
}
.dropdown-menu{
  background-color: red;

}
.body-div{
  background-color: #2347ce
}
  </style>


</head>
<body class = "body-div">

<!-- # the section below is the jumbotron fron page, the buttons are not functional for the filters
############################################################################################################################################## -->
  <div class="jumbotron text-center" style = "color: black; background-color: powderblue;">
    <h1>Photo Filter</h1>
    <p>Filter photos using our web</p>
    <div class="btn-group">
      <button style = "color: #126961;"type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filters
<!-- #############################################################################################################################################
# buttons are not functional, they only display a dropdown menu -->
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </div>
  </div>
<!-- ###############################################################################################################################################-->

<div class = "upload-file">
    <h1 style = "color: red">Upload new File</h1>
    <form method=post enctype=multipart/form-data>
    <p><input style = "color: black" type=file name=file></input></p>
    <input style = "color: red" type=submit value=Upload></input>
    </form>
</div>

   <a href="http://127.0.0.1:5000/newpage1">page 2</a>


</body>
</html>
